<h1>Edit Artist Information</h1>

<%= form_for(@artist) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image_path %>
  <%= f.text_field :image_path %>

  <%= f.submit "Update Artist" %>
<% end %>
